[Desktop Entry]
Name=Lincity
Description=City/country simulation strategy game
Description[pl]=Gra strategiczna symulująca kraj/miasto
Icon=lincity.png
Exec=/usr/games/xlincity
# vi: encoding=utf-8
