[Desktop Entry]
Name=Lincity
Description=City/country simulation strategy game
Description[pl]=Gra strategiczna symulująca kraj/miasto
Exec=xlincity
# vi: encoding=utf-8
